<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="machine-list-title">Machines</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Location</mat-label>
          <mat-select #input id="locationField" placeholder="Location" FormControlName="Location" [(value)]="machines">
            <mat-option value=null>None</mat-option>
            <mat-option value="the_apartments">The Apartments</mat-option>
            <mat-option value="blakely">Blakely Hall</mat-option>
            <mat-option value="gay">Gay Hall</mat-option>
            <mat-option value="green_prairie">Green Prairie</mat-option>
            <mat-option value="independence">Independence Hall</mat-option>
            <mat-option value="pine">Pine Hall</mat-option>
            <mat-option value="spooner">Spooner Hall</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            id="machineType" #input
            type="boolean"
            placeholder="Filter by type"
            (input)="updateType($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            id="machineRunning" #input
            type="boolean"
            placeholder="Filter by running"
            (input)="updateRunning($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="machineStatus" #input type="search" placeholder="Search by status"
                 [(ngModel)]="machineStatus"/>
          <button mat-button id="statusClearSearch" type="button" *ngIf="machineStatus" matSuffix mat-icon-button
                  aria-label="clear" (click)="machineStatus='';loadService()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-accordion *ngIf="machines; else machinesError">
          <mat-expansion-panel #elem class="machines" *ngFor="let machine of this.filteredMachines">
            <mat-panel-description>Works for {{machine.status}}</mat-panel-description>
            <mat-panel-description>Running: {{machine.running}}</mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #machinesError>
          <mat-error>
            There was a problem loading the machines. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
